# Dependencies
node_modules
.bun

# Database (Local only!)
*.sqlite
*.sqlite-journal

# Build Artifacts
public/main.js
public/styles.css

# Environment variables
.env
.DS_Store

# 👇 NOVO: Ignorar imagens enviadas pelos usuários
public/uploads/*